@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 222.2 84% 4.9%;
  --background: 0 0% 100%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  min-height: 100vh;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
} 